<a href="https://colab.research.google.com/github/Narmadakumbhkar/python-programing/blob/main/most_Ankit_interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python_programming:-

In [1]:
A=[1,2,3,4,5,6]
print(sum(A))

21

In [ ]:
def append():
    A = [1,2,3,4,5,6,7]
    B = [10,11,12,13,14,15]
    C = B[::-1]
    for i in C:
        A.append(i)
    print(A)
append()

[1, 2, 3, 4, 5, 6, 7, 15, 14, 13, 12, 11, 10]

In [ ]:
A = [1,2,3,4,5,6,7]
B = [10,11,12,13,14,15]
C = B[::-1]

A+C

[1, 2, 3, 4, 5, 6, 7, 15, 14, 13, 12, 11, 10]

In [ ]:
list = [1,2,4,5,6,2,4] 
A=[]
for i in list:
    n = list.count(i)
    if n >1:
        if A.count(list) == 0:
            A.append(i)
#print(A)
print(A)

4

In [ ]:
num = int(input())
p = 0
for i in range(2, num):
    if num%i==0:
        p = 1
        break
if p==0:
    print("prime number")
else:
    print("not prime number")

8
not prime number

In [ ]:
num = int(input("enter no"))
for i in range(2,num):
  if num%i==0:
    print(num, "not a prime")
    break
else:
  print(num, "prime no")

enter no7
7 prime no

In [ ]:
from datetime import datetime
start =  "2022-03"
end = "2023-09"
A = datetime.strptime(start,"%Y-%m")
B = datetime.strptime(end,"%Y-%m")
C = (B.year-A.year)*12 + (B.month-A.month)
print(C)

18

In [ ]:
a = 'word'
print(a[::-1])

drow

In [ ]:
def my_function(x):
  return x[::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

In [ ]:
a = "I wonder how this text looks like backwards"
b=a.split(' ')

x=b[::-1]

ss=' '
sss=ss.join(x)
sss

['I', 'wonder', 'how', 'this', 'text', 'looks', 'like', 'backwards']
['backwards', 'like', 'looks', 'text', 'this', 'how', 'wonder', 'I']

'backwards like looks text this how wonder I'

In [ ]:
a = "I wonder how this text looks like backwards"
b=a.split(' ')
s=[]
for i in b:
  x=i
  y=x[::-1]
  s.append(y)
r=' '
t=r.join(s)
t

'I rednow woh siht txet skool ekil sdrawkcab'

In [ ]:
s = input()
n = ''
for i in s:
    n=i+n
if s==n:
    print("is palii")
else:
    print("is not pillindrom")

9
is palii

In [ ]:
s = 'abcdebe'
st = ' '
stt=''
for i in s:
    if i not in st:
        st = st+i
    else:
        stt=stt+i
        
print(stt)

be

In [ ]:
sd=int(input('inter the number'))
k=2*sd-2
for i in range(0,sd):
  for j in range(0,k):
    print(end='')
  k=k-2
  for j in range(0,i+1):
    print('*',end="")
  print("")

inter the number6
*
**
***
****
*****
******

In [ ]:
def pyfun(r):
  for a in range(r):
    print(' '*(r-a-1)+'*'*(2*a+1))
pyfun(6)

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
f=5
for i in range(f,0,-1):
  for j in range(i,0,-1):
    print(j,end='')
  print('')

54321
4321
321
21
1

In [ ]:
x=5
for i in range(x):
  print(''*(x-i),"*"*(i*2+1))

      *
     ***
    *****
   *******
  *********

In [ ]:
li = [1,2,3,4,5,6,7,8]
n =len(li)
while n>0:
    a = li[n-1]
    print(a)
    n=n-1

8
7
6
5
4
3
2
1

In [ ]:
s="vivekpatel124@#$%*&#@"  # remove special char and num. also
v=''.join(char for char in s if char.isalpha())
print(v)

vivekpatel

In [ ]:
st = 'THIS IS MY FIRST NAME'
s1 = " ".join([x[::-1]for x in st.split()])
print(s1)

SIHT SI YM TSRIF EMAN

In [ ]:
st = 'THIS IS MY FIRST NAME'
a = st.split()
a

['THIS', 'IS', 'MY', 'FIRST', 'NAME']

In [ ]:
def vi(n):
    li = []
    for i in range(0,len(n),2):
        time = int(n[i+1])
        while time:
            li.append(n[i])
            time-=1
    print(''.join(li))

n = 'a2b4c5'
vi(n)

aabbbbccccc

In [ ]:
a = input()
b=""
for i in a:
    b=i+b
print(b)

abc
cba

In [ ]:
d = {'name':'prakash','age':21,'class':'B com','sub':'commerce'}
a = d.get('name')
print(a)

prakash

In [ ]:
list=[1,2,3,4,5,6,7]
l2=[8,9,10,11,12]
l3= list[1:5]
l4 = l2[1:3]
li5 =l3+l4
print(li5)

[2, 3, 4, 5, 9, 10]

In [ ]:
s="this is ankit puri a python developer"
s = s.split()
if 'abhishek' in s:
    print('True')
else:
    print('False')

False

In [ ]:
txt='2021-03'
x=txt.split("-")
print(x)
for i in x:
    print(i)

['2021', '03']
2021
03

In [ ]:

class students:
    li = "ABC"
    def __init__(self,name,parentname):
        self.name = name
        self.parentname = parentname
        
        
A = students("Shivam","ramesh")
B = students("Kapil","Roopsingh") 
    
print(A.li)
print(B.li)

print("Student name1:",A.name)
print("Student name2:",B.name)

print("parent name",A.parentname)
print("parent name",B.parentname)

ABC
ABC
Student name1: Shivam
Student name2: Kapil
parent name ramesh
parent name Roopsingh

In [ ]:
class mycls:
    v1 = 123
    
    def __init__(self):
        self.object_e= 456
        
c1 = mycls()
c2 = mycls()

print(c1.v1,c1.object_e)
print(c2.v1,c1.object_e)

123 456
123 456

In [ ]:
li1 = [1,2,3,4,5]
li2 = [1,2,3,4,5] # [2,4,6,8,10]

print("First list :" + str(li1))
print("second list:" + str(li2))

otherL= []

for i in range(0, len(li1)):
    otherL.append(li1[i]+li2[i])
    
print("Now list is: " + str(otherL))

First list :[1, 2, 3, 4, 5]
second list:[1, 2, 3, 4, 5]
Now list is: [2, 4, 6, 8, 10]

In [ ]:
Items = [2,9,3,1,2]
#Output: cons_group = [[1,2,3], [7,8], [2,3,4,5], [6,7], [1,2,3], [5,6,7]]

My = len(Items)

for i in range(My):
    for j in range(i+1,My):
        if Items[i]>Items[j]:
            #0>1
            Items[i],Items[j]=Items[j],Items[i]
            

print(Items)

[1, 2, 2, 3, 9]

In [ ]:
a = "abcbdbc"
for i in a:
    count = 0
    for j in a:
        if i==j:
            count +=1
        if count > 1:
            break
    if count == 1:
        print(i,end = " ")

a d

In [ ]:
l1 = [1,2,3,4,5]
i = 0
while i < len(l1):
    print(l1[i])
    i = i +1

1
2
3
4
5

In [ ]:
def short(str):
    str = " ".join(sorted(str))
    print(str)
Eg ="zacdef"
short(Eg)

a c d e f z

In [ ]:
#Output = [1,3,5,6,8,10,12,19]
# Array1 =[2,5,8,19]
# Array2 = [3,6,10,12]
Ar =[2,5,8,19]
ar=[3,6,10,12]
a=Ar+ar
print(a)
x=1
for i in a:
  for j in (x,len(a)):
    if (a[i]>a[j]):
      temp=a[i]
      y=a[j]
      a[i]=a[j]
      x+=1

[2, 5, 8, 19, 3, 6, 10, 12]

IndexError: ignored

In [ ]:
li=[1,2,4,557,99]
a=len(li)
i=0
while i<a:
  print(li[i])
  i+=1

1
2
4
557
99

In [ ]:
a="This is a python test"
c=0
for i in a:
  if i=="t" or i=="T":
    c+=1
print(c)

4

In [ ]:
a="This is a python test"

In [ ]:
n = int(input("num "))
for i in range(2,n):
  if n%i==0:
    print("not")
    break
else:
  print("yes")

num 29
yes

In [ ]:

num = int(input('this is number'))
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

this is number5
The factorial of 5 is 120

In [ ]:
num = int(input('this is number'))
factorial =1
for i in range(1,num + 1):
  factorial = factorial*i
print("The factorial of",num,"is",factorial)
if num<0:
  print('not factorial')
else:
  print('this is factorial')

this is number5
The factorial of 5 is 120
this is factorial

In [ ]:
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0
 
 
print("Fibonacci sequence:")
while count < nterms:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
def sd(n):
  a=0
  b=1
  if n==0:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n+1):
      c=a+b
      a=b
      b=c
      print(c)
sd(10)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
def sd(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n+1):
      c=a+b
      a=b
      b=c
      print(c)
sd(10)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
s = '2021-03'
e = '2022-06'
sm = '2021-03'.split("-")
em = '2022-06'.split("-")
startm = sm[1]
endm = em[1]
starty = sm[0]
endy = em[0]
print((int(endy)-int(starty))*12+(int(endm)-int(startm)))

15

In [ ]:
a = [1,2,3,4,5,6]
b = [7,8,9,10,11,12]
c = []
for i in a:
  if i%2!=0:
    c.append(i)
print(c)

[1, 3, 5]

In [ ]:
a = [1,2,3,4,5,6]
b = [7,8,9,10,11,12]
c= []
for i in range(0,len(a)):
  for  j in range(i,i+1):
    c.append([a[i],b[i]])
print(c)

[[1, 7], [2, 8], [3, 9], [4, 10], [5, 11], [6, 12]]

In [ ]:
s=(input('this is number'))
v=s.casefold()
d=v[::-1]

if list(d)==list(s):
  print('print palindrom')
else:
  print('not palindrom')

this is number123
not palindrom

In [ ]:
s="122"
d=s[::-1]
if s==d:
  print("yes")
else:
  print("no")

no

In [ ]:
s='afds-kjhkh,ig3jhgjhg5bk'
s.split('k')

['afds-', 'jh', 'h,ig3jhgjhg5b', '']

In [ ]:


for row in range(1,11):
  for col in range(1,11):
    num=row*col
    if num <10:
      empty= ' '
    else:
      if num<100:
        empty= ' '
    if col==0:
      if row==0:
        print(' ',end=' ')
      else:
        print(' ',end=' ')
    elif row==0:
      print(' ',col,end=' ')
    else:
      print(empty,num,end=' ')
  print()

  1   2   3   4   5   6   7   8   9   10
  2   4   6   8   10   12   14   16   18   20
  3   6   9   12   15   18   21   24   27   30
  4   8   12   16   20   24   28   32   36   40
  5   10   15   20   25   30   35   40   45   50
  6   12   18   24   30   36   42   48   54   60
  7   14   21   28   35   42   49   56   63   70
  8   16   24   32   40   48   56   64   72   80
  9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90   100

In [ ]:
s=[1,2,3,4,5,6,7,8,9,0 ]
print(*s,sep='\n')

1
2
3
4
5
6
7
8
9
0

In [ ]:
f=5
for i in range(f,0,-1):
  for j in range(i,0,-1):
    print(i,end='')
  print('')

55555
4444
333
22
1

In [ ]:
f=5
for i in range(f,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
s=5
v=1
for i in range(2,s+1):
  v=v*i
  if v<0:
    print()
print(v)

120

In [ ]:
s=[3,4,5,6,7,8,9,0]
print(*s,sep='\n')

3
4
5
6
7
8
9
0

In [ ]:
class sd():
    def __init__(self,name,id,salary):
        self.name=name
        self.id=id
        self.salary=salary
    #def fd(self):
r = sd('shailendra',101,123456)
print(r.id)

101